body {
	background-image: url();
	background-size: cover;
	background-position: center;

}

a {text-decoration: none;

}

nav ul {
	list-style-type: none;

}

nav li {
	display: inline-block;
	text-align: center;
	display: horizontal;
	margin-left: 40px;


}
.vodka article {
	position: relative;

}

vodka article {
	position: absolute;
	top: 60 px;
	right: 160px;

}

.vodka article {
	width: 160px;
	min-height: 200px;
	display: inline-block;
	background-color: orange;
	padding: 20px;


}
